/********************************* ESTILOS FORMS ********************************/
#forms_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    width: 60vh;
    height: 70vh;
    border-radius: 15px;
}

#tittle {
    margin-top: 20px;
}

#password-container {
    margin-top: 40px;
}

#username {
    width: 45vh;
    height: 6vh;
    border-radius: 5px;
    padding-left: 5px;
    border: 0.5px solid #777777;
    background-color: #212121;
    color: white;
}

#password {
    width: 45vh;
    height: 6vh;
    border-radius: 5px;
    margin-bottom: 35px;
    color: white;
    padding-left: 5px;
    border: 0.5px solid #777777;
    background-color: #212121;
}

#username::placeholder,
#password::placeholder {
    padding-left: 5px;
}

#btn_login {
    height: 40px;
    width: 45vh;
    border-radius: 20px;
    border: none;
    background-color: #951db9;
    color: black;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.5s;
}

#btn_login:hover {
    scale: 1.02;
    cursor: pointer;
    color: white;
    background: #760f96b0;
}

#withoutAccount {
    margin-top: 7px;
}

#withoutAccount a {
    font-size: 13px;
    color: #777777;
    transition: all 0.3s;
}

#withoutAccount a:hover {
    color: #951db9;
}