/********************************** ESTILOS FONDO **************************************/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body {
    background: #212121;
    font-family: "Rubik";
}


.circle {
    position: fixed;
    border-radius: 50%;
    background: #951db9;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #a31ed7;
}

.small {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.medium {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.large {
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}

.xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1 {
    opacity: 0.2;
}

.shade2 {
    opacity: 0.5;
}

.shade3 {
    opacity: 0.7;
}

.shade4 {
    opacity: 0.8;
}

.shade5 {
    opacity: 0.9;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}

/******************** ESTILOS GENERALES ********************/

#mensaje {
    text-align: center;
    color: white;
}

#branch_container_forms {
    width: 100%;
}

#forms_branch {
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: column;    
    background-color: black;
    border-radius: 15px;
    height: 30vh;
    text-align: center;
}

#forms_branch_container{
    width: 100%;
    display: flex;
}

#column1,
#column2,
#column3 {
    width: 33.33%;
    text-align: center;
    flex-direction: column;
    color: white;
}

#name,
#address,
#code {
    width: 45vh;
    height: 6vh;
    border-radius: 5px;
    padding-left: 5px;
    border: 0.5px solid #777777;
    background-color: #212121;
    color: white;
}

#btn_send {
    margin-top: 2%;
    height: 40px;
    width: 45vh;
    border-radius: 20px;
    border: none;
    background-color: #951db9;
    color: black;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.5s;
}

#btn_send:hover {
    scale: 1.02;
    cursor: pointer;
    color: white;
    background: #760f96b0;
}

