/******************** ESTILOS GENERALES ********************/


#general_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#forms_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    width: 110vh;
    height: 76vh;
    border-radius: 15px;
}

#forms {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#columna1 {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}

#columna2 {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

#username,
#name,
#firstname,
#lastname,
#password,
#country {
    width: 45vh;
    height: 6vh;
    border-radius: 5px;
    padding-left: 5px;
    border: 0.5px solid #777777;
    background-color: #212121;
    color: white;
}

#tittle {
    margin-top: 3%;
}

#btn_register {
    margin-top: 4%;
    height: 40px;
    width: 45vh;
    border-radius: 20px;
    border: none;
    background-color: #951db9;
    color: black;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.5s;
}

#btn_register:hover {
    scale: 1.02;
    cursor: pointer;
    color: white;
    background: #760f96b0;
}

#withAccount {
    margin-top: 7px;
}

#withAccount a {
    font-size: 13px;
    color: #777777;
    transition: all 0.3s;
}

#withAccount a:hover {
    color: #951db9;
}